<%- await include("header.ejs") %>

<a href="/post" class="block text-blue-700 text-center text-2xl">投稿する</a>
<% for (const app of apps) { %>
  <div class="mt-4 border border-black rounded shadow-md bg-white">
    <div class="text-xl bg-blue-100 p-2">
      <%= app.title %>
      by <%= app.author %>
    </div>
    <div class="text-xl p-2 border-b">作品概要</div>
    <div class="p-2 whitespace-pre-wrap"><%= app.description %></div>
    <div class="text-xl p-2 border-b">審査委員のコメント</div>
    <div>
      <div class="p-2 whitespace-pre-wrap"><%= app.comment %></div>
    </div>
  </div>
<% } %>

<%- await include("footer.ejs") %>